{
  "name": "{{ agave.appsPrefix }}-mask-repeats-gf2",
  "version": "0.2",
  "label": "Mask repeats in reference with NUCmer and bedtools",
  "defaultNodeCount": 1,
  "defaultMemoryPerNode": 1,
  "defaultProcessorsPerNode": 1,
  "executionType": "HPC",
  "parallelism": "SERIAL",
  "checkpointable": false,
  "executionSystem": "{{ agave.executionSystem }}",
  "deploymentPath": "{{ agave.appsDir }}/mask-repeats-gf2-0.2",
  "deploymentSystem": "{{ agave.deploymentSystem }}",
  "templatePath": "mask-repeats-gf2.sh",
  "testPath": "test/test.sh",
  "inputs": [
    { "id": "reference_sequence",
      "value": {
        "required": true,
        "default": ""
      }
    }
  ],
  "parameters": [
    { "id": "output",
      "value": {
        "required": true,
        "type": "string"
      }
    },
    { "id": "exec_method",
      "value": {
        "required": false,
        "default": "auto",
        "type": "string"
      }
    },
    { "id": "exec_init",
      "value": {
        "required": false,
        "default": ":",
        "type": "string"
      }
    }
  ]
}